:root {
    --color-logo: #ffc800;
    --color-border: #000000;
    --color-title: #da0000;
    --color-heading: #e22828;
    --color-excerpt: #ff0404;
    --color-title-black: rgba(0, 0, 0, 0.8);
}
