.site-header{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header-main__inner{

    padding-top: 35px;
    padding-bottom:  40px;
    position: relative;
}
.header-main__inner:before{
    position: absolute;
    bottom:0;
    background: #e6e6e6;
    content:"";
    height: 1px;
    left:0;
    right:0;
    width: calc(100% - 30px);
    margin-left:auto;
    margin-right: auto;
}
/*
 ## logo head
*/

.header-logo img{
    height: 40px;
    width: auto;
    padding:0;
    position: relative;
    z-index: 1;
}

.header-main .list-horizontal > li:nth-child(n+2){
    margin-left:  5px;
}
.icon-menu img{
    height: 16px;
    width: auto;
}

.icon-menu {
    color:#222;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1;
}
.icon-menu span{
    padding-left: 10px;
}
.icon-menu:focus{
    color:#222;
    text-decoration: none;
}
.icon-menu:hover {
    color:#222;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1;
}
.navigation--offcanvas li > a:after{
    border-right: 3px solid var(--color-logo);
}
/*
 ## logo head
*/
/*
 ## logo head atbs-sticky-header
*/
#atbs-sticky-header .header-logo{

    height: 60px;
    line-height: 60px;
}
.mobile-header{
    background: #fbfcfd;
}
/*
 ## logo head atbs-sticky-header
*/
#atbs-mobile-header .header-logo {

    height: 60px;
    line-height: 60px;
    padding-left: 0px;
    padding-right: 20px;
}
.header-logo--mobile img {
    height: 20px;
    width: auto;
}
.mobile-header{
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 767px)
{
    #atbs-mobile-header .header-logo {
        height: 50px;
        line-height: 50px;
        padding-left: 0px;
        padding-right: 20px;
    }
}
#atbs-offcanvas-primary img{
    height: 35px;
    width: auto;
}
#atbs-offcanvas-primary  .social-list {
    margin: 0 -0.4em;
}
#atbs-offcanvas-primary  .social-list a{
    font-size: 15px;
}
/*==============================================
##  end header design
===========================================================*/


@media (min-width: 1200px)
{



}
@media (min-width: 992px)
{

    .header-main{
        padding:0;
    }

}
@media(max-width: 767px){

}